    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Redes Sociales</h5>
                        <p><i class="fab fa-discord mr-2"></i>Chat</p>
                        <p><i class="fab fa-github mr-2"></i>Codigo Fuente</p>
                        <p><i class="fab fa-twitter mr-2"></i>Comentarios</p>
                        <p><i class="fab fa-instagram mr-2"></i>Demos</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Cursos Disponibles</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Modelado 3D</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Godot</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Unity</a>
                            <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Unreal</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 mb-5">
                <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Newsletter</h5>
                <p>Puedes aprender gratis, suscribiéndote a nuestro Newsletter. Recibirás un tutorial cada semana. También recibirás noticias sobre desarrollo de videojuegos.</p>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Tu correo electrónico">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Suscríbete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-whiteZ" style="color: var(--primary);">
                    &copy; <a href="#" >Desarrollo-de-videojuegos.com</a> 
                    <span style="display: none;"> Designed by <a href="https://htmlcodex.com">HTML Codex</a></span>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#"> <i class="fa fa-shield-alt"></i> <span class="d-none d-sm-inline">Privacidad</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#"> <i class="fa fa-file-contract"></i> <span class="d-none d-sm-inline">Legales</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#"> <i class="fa fa-question"></i> <span class="d-none d-sm-inline">FAQs</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#"> <i class="fa fa-hands-helping"></i> <span class="d-none d-sm-inline">Ayuda</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer End -->