    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Tu primer curso</h5>
                        <h1 class="text-white">30% Off Para nuevos estudiantes</h1>
                    </div>
                    <p class="text-white">Si es tu primer curso en esta plataforma te ofrecemos un descuento promocional para que puedas evaluar la calidad de los mismos.</p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Estudia desde tu casa</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lleva tu propio ritmo</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Quédatelo para siempre</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Accede ahora</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 p-4" placeholder="Tu nombre" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 p-4" placeholder="Tu correo electrónico" required="required" />
                                </div>
                                <div class="form-group">
                                    <select class="custom-select border-0 px-4" style="height: 47px;">
                                        <option selected>Selecciona el curso</option>
                                        <option value="1">Modelado 3D</option>
                                        <option value="1">Godot</option>
                                        <option value="2">Unity</option>
                                        <option value="3">Unreal</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-dark btn-block border-0 py-3" type="submit">Suscríbete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->